/* Carrousel personnages */
.story {
    #characters {
    width: 100%;
    padding-top: 40px;
    margin: 0;
        div {
        flex: none;
        }
    }
}

.main-character {
    width: 100%;
    h3 {
        text-align: left;
        background-position: left;
        padding-left: 50px;
    }
}

.swiper {
    justify-content: center;
    width: 100%;
    height: auto;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 2%;
    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: auto;
        height: auto;
        text-align: center;
        img {
        width: 100%;
        height: auto;
        }
      }
}

#studio {
    overflow: hidden;
}
