/* Fade in Section Banner */
@keyframes fadein_banner {
    0% {
        opacity: 0;
        transform: translateY(-40%);
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadein_logo {
    0% {
        opacity: 0;
        transform: translateY(40%);
    }
    100% {
        opacity: 1;
    }
}

.banner {
    animation: fadein_banner 3s;
    width: 100%;
    .logo_fade_in {
        animation: fadein_logo 2s;
    }
}



/* Animation des titres en fade-in */
.anim_title_1,
.anim_title_2 {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.title_animate_1,
.title_animate_2 {
    display: inline-block;
    position: relative;
    opacity: 1;
    transform: translateY(0);
}

.title_animate_1 {
    animation: fade_in_title_animate_1 1.5s ease-in-out;
}

.title_animate_2 {
    animation: fade_in_title_animate_2 1.5s ease-in-out;
}

@keyframes fade_in_title_animate_1 {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade_in_title_animate_2 {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Animation des sections en fade-in */

.anim_article {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.article_animate {
    animation: fade_in_article_animate 2s ease-in-out forwards;
}

@keyframes fade_in_article_animate {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}