@charset "UTF-8";
body {
  height: auto !important;
}

/* Fade in Section Banner */
@keyframes fadein_banner {
  0% {
    opacity: 0;
    transform: translateY(-40%);
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein_logo {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }
  100% {
    opacity: 1;
  }
}
.banner {
  animation: fadein_banner 3s;
  width: 100%;
}

.logo_fade_in {
  animation: fadein_logo 3s;
}

/* Rotation des fleurs */
@keyframes rotate_flowers {
  from {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.story__article::after,
h2::after,
#studio h2::before,
.image_sunflower,
.image_orchid,
.site-footer ul::after {
  animation: rotate_flowers 20s linear infinite;
  line-height: 0;
}

/* Animation des titres en fade-in */
.anim_title_1,
.anim_title_2 {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.title_animate_1,
.title_animate_2 {
  display: inline-block;
  position: relative;
  opacity: 1;
  transform: translateY(0);
}

.title_animate_1 {
  animation: fade_in_title_animate_1 1.5s ease-in-out;
}

.title_animate_2 {
  animation: fade_in_title_animate_2 1.5s ease-in-out;
}

@keyframes fade_in_title_animate_1 {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade_in_title_animate_2 {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* Animation des sections en fade-in */
.anim_article {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.article_animate {
  animation: fade_in_article_animate 2s ease-in-out forwards;
}

@keyframes fade_in_article_animate {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* Section Oscars */
#oscars {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
  overflow: hidden;
}
#oscars .oscars_flowers {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
}
#oscars .oscars_flowers .image_sunflower {
  position: relative;
  left: 8%;
  top: 20%;
}
#oscars .oscars_flowers .image_orchid {
  position: relative;
  left: 80%;
  top: 60%;
}
#oscars .nomination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 400px !important;
}
#oscars .nomination .text_nomination p {
  font-weight: 700;
  font-family: "Quicksand";
  font-size: 40px;
  color: #FFF5E9;
  line-height: 52.5px;
  position: relative;
  bottom: 265px;
  margin-left: 80px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#oscars .nomination .logo_nomination {
  padding-top: 40px;
}

.site-footer::before,
.site-footer::after {
  display: none;
}

/* Video background banner */
.banner {
  background-image: none;
  min-height: auto;
}
.banner .background_video {
  position: relative;
  width: 100%;
  z-index: 1;
}
.banner .background_img {
  position: relative;
  width: 100%;
  z-index: -1;
  margin-top: 0;
  display: none;
}
.banner .img_logo_parralax {
  position: absolute;
  z-index: 2;
}
.banner .img_logo_parralax .img_logo {
  width: 100%;
  position: relative;
  animation: float_title ease-in-out 3s infinite;
}

/* Effet de flottement sur le titre principal */
@keyframes float_title {
  0% {
    transform: translate(1%, 1%);
  }
  30% {
    transform: translate(0%, -1%);
  }
  60% {
    transform: translate(-1%, 0%);
  }
  100% {
    transform: translate(1%, 1%);
  }
}
/* Effet de déplacement des nuages */
.story #place {
  background-image: none;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.story .background_img_place {
  display: flex;
  width: 100%;
  min-height: 699px;
  background-size: cover;
  position: relative;
  z-index: -1;
}
.story .place_nuages {
  display: flex;
  max-width: 1440px !important;
  flex-direction: row !important;
  overflow: hidden;
}
.story .place_nuages .place_text {
  position: absolute;
  z-index: 1;
  max-width: 580px;
  left: 30px;
  top: 170px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 6em;
}
.story .place_nuages .place_text p {
  padding-top: 20px;
  margin-left: 13px;
}
.story .place_nuages .little_cloud {
  position: absolute;
  width: 142px;
  height: 55px;
  left: 50%;
  top: 30%;
  filter: blur(13px) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  z-index: 1;
  overflow: hidden;
}
.story .place_nuages .big_cloud {
  position: absolute;
  width: 316px;
  height: 122px;
  left: 60%;
  top: 10%;
  filter: blur(13px) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  z-index: 1;
  overflow: hidden;
}

/* Carrousel personnages */
.story #characters {
  width: 100%;
  padding-top: 40px;
  margin: 0;
}
.story #characters div {
  flex: none;
}

.main-character {
  width: 100%;
}

.main-character h3 {
  text-align: left;
  background-position: left;
  padding-left: 40px;
}

.swiper {
  justify-content: center;
  width: 100%;
  height: 450px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 50px;
}
.swiper .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 400px;
}
.swiper .swiper-slide img {
  display: block;
  width: 400px;
  height: 440px;
}

#studio {
  overflow: hidden;
}

/* Header burger menu */
.site-header {
  width: 100%;
}
.site-header .top-site-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #FFD5A2;
  font-size: calc(0.5rem + 1.5vw);
  position: sticky;
  z-index: 1000;
}
.site-header .top-site-title h1 {
  font-family: "quicksand";
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: -2%;
  color: #000000;
}
.site-header .top-site-title h1 :hover {
  color: #000000;
}
.site-header .top-site-title #openBtn .burger-icon {
  left: 85%;
  top: 26%;
  position: absolute;
}
.site-header .top-site-title #openBtn .burger-icon span {
  display: block;
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}
.site-header .top-site-title #closeBtn {
  color: #000000;
  left: 85%;
  top: 12%;
  position: absolute;
  font-size: 40px;
  display: none;
}
.site-header .topnav {
  width: 100%;
  height: 100vh;
  max-width: 1440px;
  background-color: #FFF5E9;
  z-index: 2;
  position: fixed;
  top: -100%;
  transition: top 0.8s ease;
  overflow: hidden;
}
.site-header .topnav ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 20%;
  margin: 0;
  padding: 0;
}
.site-header .topnav ul .img_logo_burger {
  position: relative;
}
.site-header .topnav ul li {
  padding: 18px 6px 18px 6px;
  text-decoration: none;
  font-size: calc(0.5rem + 1.5vw);
  color: #000000;
  position: relative;
}
.site-header .topnav ul li a:hover {
  text-shadow: 0px 0px 14px #FF5C00;
}
.site-header .topnav ul .logo_studio_koukaki {
  position: relative;
  padding-top: 50px;
}
.site-header .topnav .img_burger .orchid_burger {
  width: 172px;
  height: 168px;
  top: 20%;
  left: -4%;
}
.site-header .topnav .img_burger .sunflower_burger {
  width: 216px;
  height: 216px;
  top: 18%;
  left: 70%;
}
.site-header .topnav .img_burger .flower_burger {
  width: 70px;
  height: 70px;
  top: 56%;
  left: 15%;
}
.site-header .topnav .img_burger .random_flower_burger {
  width: 75px;
  height: 74px;
  top: 44%;
  right: -2%;
}
.site-header .topnav .img_burger .hibiscus_burger {
  width: 626px;
  height: 626px;
  top: 62%;
  left: 78%;
}
.site-header .topnav .img_burger .blue_cat_burger {
  top: 32%;
  left: 24%;
}
.site-header .topnav .img_burger .orange_cat_burger {
  top: 82%;
  left: 6%;
}
.site-header .topnav .img_burger .black_cat_burger {
  top: 54%;
  left: 68%;
}

.orchid_burger,
.sunflower_burger,
.flower_burger,
.random_flower_burger,
.hibiscus_burger {
  position: absolute;
  animation: rotate_flowers 20s linear infinite;
}

.blue_cat_burger,
.orange_cat_burger,
.black_cat_burger {
  position: absolute;
  animation: float_title ease-in-out 3s infinite;
}

a:-webkit-any-link {
  text-decoration: none;
}

.topnav.active {
  top: 0;
  width: 100%;
  height: 100vh;
}/*# sourceMappingURL=theme.css.map */