/* Video background banner */
.banner {
    background-image: none;
    min-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
        .background_video {
            position: relative;
            width: 100%;
            z-index: 1;
        }
        .background_img {
            position: relative;
            width: 100%;
            z-index: -1;
            margin-top: 0;
            display: none;
        }
        .img_logo_parralax {
            position: absolute;
            z-index: 2;
            .img_logo {
                width: 100%;
                height: auto;
                position: relative;
                animation: float_title ease-in-out 3s infinite;
            }
        }
        
}


/* Effet de flottement sur le titre principal */
@keyframes float_title {
    0% {
        transform: translate(1%, 1%);
    }
    30% {
        transform: translate(0%, -1%);
    }
    60% {
        transform: translate(-1%, 0%);
    }
    100% {
        transform: translate(1%, 1%);
    }
}


/* Media queries */
@media (max-width: 1200px) {
    .banner {
        .img_logo_parralax {
            .img_logo {
                width: 90%;
                left: 10%;
            } 
        }
    }
}

@media (max-width: 1024px) {
    .banner {
        .background_video {
            display: none;
        }
        .background_img {
            display: flex;
        }
        .img_logo_parralax {
            .img_logo {
                width: 80%;
                left: 12%;
            } 
        }
    }
}

@media (max-width: 950px) {
    .banner {
        .img_logo_parralax {
            .img_logo {
                width: 70%;
                left: 16%;
            } 
        }
    }
}

@media (max-width: 850px) {
    .banner {
        .img_logo_parralax {
            .img_logo {
                width: 60%;
                left: 19%;
            } 
        }
    }
}

@media (max-width: 750px) {
    .banner {
        .img_logo_parralax {
            .img_logo {
                width: 50%;
                left: 23%;
            } 
        }
    }
}