/* Section Oscars */
#oscars {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    .oscars_flowers {
        display: flex;
        flex-direction: row;
        width: 100%;
        position: relative;
        overflow: hidden;
        > img {
            position: relative;
        }
        .image_sunflower {
            left: 8%;
            top: 20%;
        }
        .image_orchid {
            left: 80%;
            top: 60%;
        }
    }
    .nomination {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        position: relative;
        gap: 1%;
        .text_nomination {
            position: relative;
            background-size: cover;
            background-position: center;
            width: 52%;
            z-index: 1;
            p {
                font-weight: 700;
                font-family: 'Quicksand';
                font-size: calc(1rem + 1.5vw);
                color: #FFF5E9;
                line-height: 1.5;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                padding-left: 9%;
            }
        }
    }  
}


.site-footer::before,
.site-footer::after {
	display: none;
}


/* Media queries */
@media (max-width: 2010px) {
    #oscars .nomination {
        .text_nomination {
            width: 50%;
            > p {
                font-size: calc(1rem + 1.2vw);
            }
        }
    }
}
@media (max-width: 1024px) {
    #oscars .nomination {
        .text_nomination {
            > p {
                font-size: calc(1rem + 1.2vw);
            }
        }
    }
}

@media (max-width: 850px) {
    #oscars .nomination {
        .text_nomination {
            width: 60%;
            > p {
                font-size: calc(1rem + 1.2vw);
            }
        }
    }
    #oscars .oscars_flowers { 
        .image_sunflower {
            left: 38%;
        }
        .image_orchid {
            display: none;
        }
    }
}

@media (max-width: 700px) {
    #oscars .nomination {
        display: flex;
        flex-direction: column;
        .text_nomination {
            width: 65%;
            > p {
                font-size: calc(1rem + 1.2vw);
            }
        }
    }
}

