/* Rotation des fleurs */
:root {
    --rotation-speed: 20s;
}

@keyframes rotate_flowers {
    from {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.story__article::after,
h2::after,
#studio h2::before,
.image_sunflower,
.image_orchid,
.site-footer ul::after {
    animation: rotate_flowers var(--rotation-speed) linear infinite;
    line-height: 0;
}

